<mat-card>
    <form [formGroup]="shortenForm" (ngSubmit)="shortenUrl()">
        <mat-form-field>
            <mat-label>Enter your long URL</mat-label>
            <input matinput placeholder="https://example.com" formControlName="longUrl" />
            @if(shortenForm.get('longUrl')?.hasError('required'))
            {
                <mat-error>URL is Required</mat-error>
            }
            @if (shortenForm.get('longUrl')?.hasError('pattern')) {
                <mat-error>Please enter a valid URL</mat-error>
            }
        </mat-form-field>
        <button matButton="filled" style="background-color: red; border-radius: 20px;">Shorten URL</button>
    </form>
</mat-card>
